.footer {
  position: fixed;
  inset-inline-start: 0;
  inset-inline-end: 0;
  inset-block-end: 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  block-size: var(--layoutBlockSize);
  padding-inline: var(--spacingHorizontalXL);
  z-index: 1000;

  > * {
    padding: 4px;
    border-radius: var(--borderRadiusXLarge);
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
  }
}
