.header {
  --_end-offset: 20px;

  position: fixed;
  inset-inline: 0 var(--_end-offset);
  inset-block-start: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  block-size: var(--layoutBlockSize);
  padding-inline: var(--spacingHorizontalXL) calc(var(--spacingHorizontalXL) - var(--_end-offset));
  z-index: 1000;
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
}

.link {
  border-radius: 50%;
  box-shadow: 0 0 6px 5px hsla(270, 51%, 32%, 0.6);
  transition:
    box-shadow 0.3s ease,
    transform 0.3s ease;
  will-change: box-shadow, transform;

  &:hover {
    box-shadow: 0 0 10px 8px hsla(270, 51%, 32%, 0.6);
    transform: scale(1.03);
  }
}

.actions {
  display: flex;
  align-items: center;
  gap: 2rem;
}
