.header {
  position: fixed;
  inset-inline: 0;
  inset-block-start: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  block-size: var(--layoutBlockSize);
  padding-inline: var(--spacingHorizontalXL);
}
