.header {
  --_end-offset: 20px;

  position: fixed;
  inset-inline: 0 var(--_end-offset);
  inset-block-start: 0;
  display: grid;
  grid-template-columns: 40% 1fr 40%;
  block-size: var(--layoutBlockSize);
  padding-inline: var(--spacingHorizontalXL) calc(var(--spacingHorizontalXL) - var(--_end-offset));
  z-index: 1000;
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
}

.homeLinkContainer {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.link {
  border-radius: 50%;
  box-shadow: 0 0 6px 5px hsla(270, 51%, 32%, 0.6);
  transition:
    box-shadow 0.3s ease,
    transform 0.3s ease;
  will-change: box-shadow, transform;

  &:hover {
    box-shadow: 0 0 10px 8px hsla(270, 51%, 32%, 0.6);
    transform: scale(1.03);
  }
}

.siteMenu {
  --_start-offset: calc(var(--layoutBlockSize) / 4 * -1);

  align-self: center;
  justify-self: center;
  visibility: visible;
  content-visibility: visible;
  opacity: 1;
  transform: translateY(0);
  transition:
    opacity 1.1s ease-in 1s,
    transform 0.9s ease-in 1s;
  will-change: opacity;

  @starting-style {
    visibility: hidden;
    content-visibility: hidden;
    opacity: 0;
    transform: translateY(var(--_start-offset));
  }
}

.actions {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 2rem;
}
