.header {
  position: fixed;
  inset-inline: 0;
  inset-block-start: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  block-size: var(--layoutBlockSize);
  padding-inline: var(--spacingHorizontalXL);
}

.link {
  border-radius: 50%;
  transition:
    box-shadow 0.3s ease,
    transform 0.3s ease;
  will-change: box-shadow, transform;

  &:hover {
    box-shadow: 0 0 10px 8px hsla(270, 51%, 32%, 0.6);
    transform: scale(1.03);
  }
}
