:root {
  --_padding-inline: 0.5rem 1rem;
}

.dialogSurface {
  inline-size: 40%;
  padding: 0;
  margin-block-start: 150px !important;

  header {
    border-bottom: 1px solid var(--colorNeutralStroke1);
  }
}

.dialogContent {
  padding: 0 0 -10px 0;
  /* Firefox: set thumb then track (track set to transparent) */
  scrollbar-color: ButtonFace transparent;
  -webkit-overflow-scrolling: touch;

  &::-webkit-scrollbar {
    width: 12px;
    height: 12px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 8px;
    border: 3px solid transparent;
    background-clip: padding-box;
  }
}

.shortcutHints,
.footer {
  display: flex;
  gap: 4px;
  inline-size: 100%;
  padding: 0.2rem 0.5rem;
  background-color: var(--colorNeutralBackground1);
}

.shortcutHints {
  align-items: center;
  grid-column-start: 1;
  grid-column-end: 2;
}

.shortcutHint {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.1rem 0.2rem;
}

.shortcutText {
  font-size: 0.75rem;
  font-weight: var(--fontWeightSemibold);
  color: var(--colorNeutralForeground3);
}

.shortcutIconFlipped {
  transform: scaleY(-1);
}

.footerPoweredBy {
  margin-block-start: 2px;
  font-size: 0.675rem;
  font-weight: var(--fontWeightSemibold);
  color: var(--colorNeutralForeground3);
}
