:root {
  --_padding-inline: 0.5rem 1rem;
}

.dialogSurface {
  inline-size: 40%;
  padding: 0;

  header {
    border-bottom: 1px solid var(--colorNeutralStroke1);
  }
}

.commandList {
  padding: var(--_padding-inline);
}
