:root {
  --_padding-inline: 0.5rem 1rem;
}

.dialogSurface {
  inline-size: 40%;
  padding: 0;

  header {
    border-bottom: 1px solid var(--colorNeutralStroke1);
  }
}

.dialogContent {
  padding: 0 0 -10px 0;
  /* Firefox: set thumb then track (track set to transparent) */
  scrollbar-color: rgba(0, 0, 0, 0.35) transparent;
  -webkit-overflow-scrolling: touch;

  &::-webkit-scrollbar {
    width: 12px;
    height: 12px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    /* background-color: rgba(0, 0, 0, 0.35); */
    border-radius: 8px;
    border: 3px solid transparent;
    background-clip: padding-box;
  }
}

.commandList {
  padding: var(--_padding-inline);
}
