.header {
  --_end-offset: 20px;

  display: grid;
  grid-template-columns: repeat(3, 33%);
  grid-template-areas: "a b c";

  & > :nth-child(1) {
    grid-area: b;
    justify-self: center;
  }

  & > :nth-child(2) {
    grid-area: c;
    justify-self: end;
  }
}
