.container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}

.header,
.wrapper {
  margin-inline: auto;
  inline-size: 60%;
}

.header {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 1rem;
}

.wrapper {
  block-size: 100%;
}
