.page {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 3rem;
}

.titleAction {
  font-weight: 600;
  text-align: center;
}

.titleBrand {
  font-size: 1.6em;
  visibility: visible;
  content-visibility: visible;
  opacity: 1;
  transition: opacity 2.8s ease-in 0.5s;
  will-change: opacity;

  @starting-style {
    visibility: hidden;
    content-visibility: hidden;
    opacity: 0;
  }
}
