:root {
  --_background: #ffffff;
  --_foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* --_background: #0a0a0a; */
    --_background: #292929;
    --_foreground: #ffffff;
  }
}

html,
body {
  max-width: 100vw;
  block-size: 100%;
  overflow-x: hidden;
}

main {
  margin-block-start: var(--layoutBlockSize);
  block-size: calc(100% - var(--layoutBlockSize) * 2);
}

/* html {
  font-size: 62.5%;
} */

body {
  color: var(--_foreground);
  background: var(--_background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.page {
  --_block-size: calc(100vh - var(--layoutBlockSize) * 2);

  min-block-size: var(--_block-size);
  block-size: var(--_block-size);
}
