.root {
  display: grid;
  place-content: center;
  height: 100%;
  color: var(--colorBrandForeground1);
  font-size: var(--fontSizeHero1000);
  font-weight: var(--fontWeightSemibold);
}

.title {
  font-size: 4rem;
}

.titleAction {
  font-weight: 600;
  text-align: center;
}

.titleBrand {
  font-size: 1.6em;
}
